In [1]:
#練習：請根據給定的資料集，計算出「Frequent Patterns（Apriori）」和「Association Rules」的結果。

In [2]:
dataset = [
  ['Milk', 'Onion', 'Nutmeg', 'Kidney' 'Beans', 'Eggs', 'Yogurt'],
  ['Dill', 'Onion', 'Nutmeg', 'Kidney' 'Beans', 'Eggs', 'Yogurt'],
  ['Milk', 'Apple', 'Kidney' 'Beans', 'Eggs'],
  ['Milk', 'Unicorn', 'Corn', 'Kidney' 'Beans', 'Yogurt'],
  ['Corn', 'Onion', 'Onion', 'Kidney' 'Beans', 'Ice cream', 'Eggs'],
]

In [9]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,KidneyBeans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [15]:
from mlxtend.frequent_patterns import apriori
ap = apriori(df, min_support=0.6,use_colnames=True)
ap

    support                    itemsets
0       0.8                      (Eggs)
1       1.0               (KidneyBeans)
2       0.6                      (Milk)
3       0.6                     (Onion)
4       0.6                    (Yogurt)
5       0.8         (KidneyBeans, Eggs)
6       0.6               (Onion, Eggs)
7       0.6         (KidneyBeans, Milk)
8       0.6        (KidneyBeans, Onion)
9       0.6       (KidneyBeans, Yogurt)
10      0.6  (KidneyBeans, Onion, Eggs)

In [16]:
from mlxtend.frequent_patterns import association_rules
association_rules(ap, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(KidneyBeans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
1,(Eggs),(KidneyBeans),0.8,1.0,0.8,1.00,1.00,0.00,inf
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Milk),(KidneyBeans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Onion),(KidneyBeans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Yogurt),(KidneyBeans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(KidneyBeans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
8,"(KidneyBeans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
9,"(Onion, Eggs)",(KidneyBeans),0.6,1.0,0.6,1.00,1.00,0.00,inf
10,(Onion),"(KidneyBeans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Eggs),"(KidneyBeans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6