In [ ]:
'''
#練習：利用 Dcard API 取得看板資料，依照熱門程度排序後另存成一個 csv 的檔案。
'''

In [14]:
import requests
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.103 Safari/537.36'
}
url = 'https://www.dcard.tw/_api/forums'
r = requests.get(url, headers=headers)
response = r.text

import json
data = json.loads(response)

import pandas as pd
df = pd.DataFrame(data)
ans = df[['name','subscriptionCount']].sort_values('subscriptionCount',ascending = False)
ans.to_csv('day02#03')

In [15]:
ans

                 name  subscriptionCount
224                穿搭             838125
373                西斯             796155
233                梗圖             756113
228                感情             746385
217                美妝             687231
..                ...                ...
566               佩佩蛙                  1
521  正在測試中的進階權限測試看板02                  0
154        馬偕醫護管理專科學校                  0
172                選手                  0
209            港澳 ACG                  0

[577 rows x 2 columns]