In [14]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random(100)*100)
n = int(input())

df['binned'] = pd.cut(df[0], n, labels=False)
df

6

            0  binned
0   28.639599       1
1   80.224610       4
2   96.343453       5
3   58.947395       3
4   45.943799       2
..        ...     ...
95  74.836370       4
96  46.739956       2
97  28.902361       1
98   9.387701       0
99  58.633280       3

[100 rows x 2 columns]